.text-pre-wrap {
	white-space: pre-wrap;
}

.text-nowrap {
	white-space: nowrap;
}

.ellipsis {
	overflow: hidden;
  text-overflow: ellipsis;
}

.m-view {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.fill-screen {
	width: 100%;
	height: 100vh;
}

.main-color {
	color: #9BA2AA;
}

::-webkit-scrollbar {
    display: none;
}
// .fs-10 {
// 	font-size: 0.6rem;
// }
// .appbar {
// 	transform: translateY(-46px) !important;
// 	z-index: 10000 !important;
// }