.DS_Store


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*zip
.now


blog-free-v1.0.0
example
vue-flip-card

# ignore assets to imporve efficency
about_us_old/src/assets
server/src/crawl.py
